extends layout

block content
	p Welcome to Editable

	div(class="error-block")
		if isSaved
			div(class="alert alert-success" role="alert").
				Your changes are saved successfully...

		if error
			div(class="alert alert-error" role="alert").
				#{error}

	div(class="btn-group action-bar" role="group")
		button(type="button" class="btn btn-secondary bold-text").
			B
		button(type="button" class="btn btn-secondary italic-text").
			I
		button(type="button" class="btn btn-secondary underline-text").
			U
		div(class="btn-group" role="group")
			button(id="btn1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").
				Dropdown
			div(class="dropdown-menu" aria-labelledby="btn1")
				div.
					1
				div.
					2
				div.
					3

	div(contenteditable="true" class="data-div").
		!{data}
	button(type="button" class="btn btn-success btn-block contenteditable-save") Save

	//- form(action="/", method="post")
	//- 	textarea(name="data", cols="150", rows="10").
	//- 		#{data}
	//- 	br
	//- 	button(type="submit" class="btn btn-success btn-block") Save

	script(src="/javascripts/custom/save.js")
