extends layout

block content
	p Welcome to Editable

	div(class="error-block")
		if isSaved
			div(class="alert alert-success" role="alert").
				Your changes are saved successfully...

		if error
			div(class="alert alert-error" role="alert").
				#{error}

	div(class="btn-group action-bar" role="group")
		button(type="button" class="btn btn-secondary bold-text" professor="bold").
			B
		button(type="button" class="btn btn-secondary italic-text" professor="italic").
			I
		button(type="button" class="btn btn-secondary underline-text" professor="underline").
			U
		div(class="btn-group" role="group")
			button(id="btn1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" professor="dropdown").
				Headings
			div(class="dropdown-menu heading-menu" aria-labelledby="btn1")
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h1").
					h1
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h2").
					h2
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h3").
					h3
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h4").
					h4
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h5").
					h5
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h6").
					h6

	div(contenteditable="true" class="data-div").
		!{data}
	button(type="button" class="btn btn-success btn-block contenteditable-save") Save

	//- form(action="/", method="post")
	//- 	textarea(name="data", cols="150", rows="10").
	//- 		#{data}
	//- 	br
	//- 	button(type="submit" class="btn btn-success btn-block") Save
	script(src="/javascripts/custom/actionbar.js")
	script(src="/javascripts/custom/save.js")
