extends layout

block content
	p Welcome to Editable

	div(class="error-block")
		if isSaved
			div(class="alert alert-success" role="alert").
				Your changes are saved successfully...

		if error
			div(class="alert alert-error" role="alert").
				#{error}

	div(class="btn-group action-bar" role="group")
		button(type="button" class="btn btn-secondary bold-text" professor="bold").
			B
		button(type="button" class="btn btn-secondary italic-text" professor="italic").
			I
		button(type="button" class="btn btn-secondary underline-text" professor="underline").
			U
		div(class="btn-group" role="group")
			button(id="btn1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" professor="dropdown").
				Headings
			div(class="dropdown-menu heading-menu" aria-labelledby="btn1")
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h1").
					h1
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h2").
					h2
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h3").
					h3
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h4").
					h4
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h5").
					h5
				button(type="button" class="btn btn-secondary btn-block heading-1" professor="formatBlock" berlin="h6").
					h6

		button(type="button" class="btn btn-secondary strike-throgh-text" professor="strikeThrough").
			U

		div(class="btn-group" role="group")
			button(id="btn2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" professor="dropdown").
				Font Color
			div(class="dropdown-menu font-color-menu" aria-labelledby="btn2")
				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff0000" professor="foreColor" berlin="#ff0000")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #00ff00" professor="foreColor" berlin="#00ff00")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #0000ff" professor="foreColor" berlin="#0000ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #000000" professor="foreColor" berlin="#000000")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #FFFFFF" professor="foreColor" berlin="#FFFFFF")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff00ff" professor="foreColor" berlin="#ff00ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ffff00" professor="foreColor" berlin="#ffff00")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #00ffff" professor="foreColor" berlin="#00ffff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #6666ff" professor="foreColor" berlin="#6666ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #66ff33" professor="foreColor" berlin="#66ff33")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #4a47a3" professor="foreColor" berlin="#4a47a3")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff3300" professor="foreColor" berlin="#ff3300")


		div(class="btn-group" role="group")
			button(id="btn3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" professor="dropdown").
				Background Color
			div(class="dropdown-menu background-color-menu" aria-labelledby="btn3")
				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff0000" professor="backColor" berlin="#ff0000")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #00ff00" professor="backColor" berlin="#00ff00")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #0000ff" professor="backColor" berlin="#0000ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #000000" professor="backColor" berlin="#000000")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #FFFFFF" professor="backColor" berlin="#FFFFFF")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff00ff" professor="backColor" berlin="#ff00ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ffff00" professor="backColor" berlin="#ffff00")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #00ffff" professor="backColor" berlin="#00ffff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #6666ff" professor="backColor" berlin="#6666ff")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #66ff33" professor="backColor" berlin="#66ff33")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #4a47a3" professor="backColor" berlin="#4a47a3")

				button(type="button" class="btn btn-secondary btn-block" style="background-color: #ff3300" professor="backColor" berlin="#ff3300")

				

	div(contenteditable="true" class="data-div").
		!{data}
	button(type="button" class="btn btn-success btn-block contenteditable-save") Save

	//- form(action="/", method="post")
	//- 	textarea(name="data", cols="150", rows="10").
	//- 		#{data}
	//- 	br
	//- 	button(type="submit" class="btn btn-success btn-block") Save
	script(src="/javascripts/custom/actionbar.js")
	script(src="/javascripts/custom/save.js")
