doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/custom/style.css')
		link(rel="stylesheet", href="/stylesheets/vendor/bootstrap.min.css")
	body
		block content
		script(src="/javascripts/vendor/jquery.min.js")
		script(src="/javascripts/vendor/bootstrap.min.js")
